doctype html
html
  head
    title Iron Giants
    link(rel="stylesheet" href="main.css")
  body
    .artboard
      .iron-giant
        .iron-giant__left-ear
          .iron-giant__left-ear-border-container
            .iron-giant__left-ear--top
            .iron-giant__left-ear--bottom
        .iron-giant__left-jaw        
        .iron-giant__right-ear
          .iron-giant__right-ear-border-container
            .iron-giant__right-ear--top
            .iron-giant__right-ear--bottom
            .iron-giant__right-ear--highlight
        .flipped
          .iron-giant__left-jaw.iron-giant__left-jaw--black
            .iron-giant__left-jaw--highlight
        
        .iron-giant__center-jaw
          .iron-giant__center-jaw--outer
            .iron-giant__center-jaw--stroke1--fixed
            .iron-giant__center-jaw--stroke2
            .iron-giant__center-jaw--stroke3
          .iron-giant__center-jaw--inner
            .iron-giant__center-jaw-left
            .iron-giant__center-jaw-middle
            .iron-giant__center-jaw-right
        
        .iron-giant__center
          .iron-giant__center--shadow3
          .iron-giant__center--shadow2
          .iron-giant__center--shadow1
          .iron-giant__right-hole
            .iron-giant__right-hole--fill
        
        .iron-giant__left-eye
          .iron-giant__eye-fill
        .iron-giant__right-eye
          .iron-giant__eye-fill
          
        //- .iron-giant__center-stick
        //-   .iron-giant__center-stick--outer
        //-   .iron-giant__center-stick--inner
        
